{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        {% include 'job/_offre.html.twig' %}
        <p class="mt-4">
            <a href="{{ path('app_job_edit', { 'id': offre.id }) }}" class="bg-indigo-500 rounded-lg p-2 shadow-lg hover:bg-indigo-700">Editer l'offre</a>
        </p>
    </div>
{% endblock %}
